.beta_testing {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-full);
    width: 300px;
    height: 20px;
    bottom: 70px;
    opacity: 1;
}

.beta_testing .phrase {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
}