.text_area {
    position: fixed;
    display: flex;
    width: 500px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: top 0.5s;
}

.text_area.show {
    top: 0px;
}

.text_area.hide {
    top: -40px;
}

.text_area .bar {
    width: 10px;
    height: 100%;
}

.text_area .bar.T {
    background-color: var(--main-t);
}

.text_area .bar.CT {
    background-color: var(--main-ct);
}

.text_holder {
    width: 480px;
    height: 100%;
    background-color: var(--main-panel-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.text_holder.T {
    color: var(--main-t);
}

.text_holder.CT {
    color: var(--main-ct);
}