.trivia_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--sub-panel-color);
    color: var(--white-full);
    width: 340px;
    height: 90px;
    bottom: 190px;
    opacity: 1;
    transition: opacity .5s;

    font-size: 16pt;
}

.trivia_container .title {
    height: 28px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
    padding-top: 4px;
    overflow: hidden;
}

.trivia_container .content {
    padding-left: 10px;
    overflow: hidden;
    height: 60px;
    line-height: 30px;
}

.trivia_container.hide {
    opacity: 0;
}