.trivia_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--sub-panel-color);
    color: var(--white-full);
    width: 340px;
    height: 90px;
    bottom: 190px;
    opacity: 1;
    transition: opacity 1s;

    font-size: 16pt;
}

.trivia_container .title {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 10px;
}

.trivia_container .content {
    padding-left: 30px;
    padding-bottom: 15px;
}

.trivia_container.hide {
    opacity: 0;
}